head
  title Panda Strike: 2 Dimentional N-Body Physics Simulation
  // Meta
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  link(rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
    integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" 
    crossorigin="anonymous"
    type="text/css")
    
  link(rel="stylesheet" href="css/simulator.css" type="text/css")
    
  script(src="js/simulator.js" 
    type='application/javascript')
